{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'common:welcome' %}">
            <img src="{% static 'images/nav-bar-image.png' %}" alt="Home" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'bugs:list' %}">Bugs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'locations:list' %}">Locations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'battles:list' %}">Battles</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto align-items-center">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center gap-1" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                            {{ user.username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                            <li><a class="dropdown-item" href="{% url 'accounts:profile-view' request.user.pk %}">My Profile</a></li>
                            {% if user.is_staff %}
                                <li><a class="dropdown-item" href="{% url 'admin:index' %}">🛠 Admin Panel</a></li>
                            {% endif %}
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form action="{% url 'accounts:logout-view' %}" method="post" class="d-inline w-100">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item text-danger">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:login-view' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-primary ms-lg-2 px-3 py-1 mt-2 mt-lg-0" href="{% url 'accounts:register-view' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
